@charset "UTF-8";


/*body全体の設定*/
body {
    margin: 0; /*余白を上下0、左右auto*/
    padding: 0;
}


/*ヘッダー*/
header {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffcccc;
}


/* メインとメニュー */
#wrapper {
    width: 1000px;
    margin: 0 auto;/*マージンの上下を0、左右をauto*/
    display: flex;/*Flexboxを採用して横並びにする*/
    align-self: flex-start; /* 左詰めにする */
}

#main {
    width: 700px;
    margin: 0 auto;
    background-color: #ccffcc;
}

#menu {
    width: 300px;
    background-color: #ccccff;
}


/*フッター*/
footer {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffccff;
}